:root {
    --maincolor: linear-gradient(90deg, rgba(75, 20, 141, 1) 0%, rgba(224, 64, 253, 1) 100%);
}

.active::after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--maincolor);
    position: absolute;
    left: 0;
    bottom: 0;
}
