/* src/Admin.css */

.Addcontt {
    margin-left: 30px;
<<<<<<< HEAD
  }
  .App-header{
    margin-left: 30px;
  }
  .heading-purple {
    color: purple;
    font-size: 3rem;
    font-weight: 700!important;
  }
  
  /* Done button styles */
  
  .done-button {
    position: relative;
    left: 620px;
    background-color: purple !important;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
=======
    
}

.App-header {
    /* margin-left: 30px; */
    background: none;
}

.heading-purple {
    margin-top: 20px;
    margin-left: 40px;
    color: purple;
    font-size: 3rem;
    font-weight: 700!important;
}

.outerbox {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background: #FFF;
    padding: 20px;
    
}

.StockIndicator {
    margin-top: 50px;
}

.card1 {
    height: 120px !important ;
    width: 200px !important;
    border-radius: 29px;
    background: #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    margin: 12px;
}

.card1 .CardTitle {
    color: #000;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.indicatorimage {
    position: absolute;
    left: 124px;
    bottom: 38px;
}

.card2 h4 {
    color: #000;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 1000 !important;
    line-height: normal;
    position: absolute;
    right: 95px;
    bottom: 30px;
}

/* Done button styles */

.done-button {
    position: relative;
    left: 720px;
    background-color: rgb(194, 18, 179) !important;
    color: #fff !important;
    padding: 10px 80px !important;
    border: none !important;
    border-radius: 5px !important;
>>>>>>> b268f1e002f6fcc689d5898c190d542279121c00
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .done-button:hover {
    background-color: #6a0dad !important;
    cursor: pointer;
  }

  .done-buttonn1 {
    margin-left: 170px;
    position: relative;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    gap:40px;
    align-items: center;
  }
  
  .btn-primary {
    background-color: purple;
    padding: 10px 80px !important;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color:blueviolet;
  }
  
  .btn-danger {
    background-color: #8f0e0e !important;
    color: #fff;
    padding: 10px 80px !important;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #d41225 !important;
  }
  
  
  .inputfieldd{
    padding: 15px;
}

.addboxx {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
<<<<<<< HEAD
    margin-bottom: 20px;
    width: fit-content;
  }
  .cont1{
=======
    
}

.cont1 {
>>>>>>> b268f1e002f6fcc689d5898c190d542279121c00
    text-align: left;
  }
  .cont2{
    text-align: left;
    padding-left: 80px;
  }
  .addinputt{
    padding: 15px;
  }
  .form-control{
    width: 220px;
    height: 20px;
    border-radius: 5px;
  }
  .form-control1{
    width: 220px;
    border-radius: 5px;
}

.form-check-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}
.Adddelbutt{
  margin-left: 10px;
}
.done-button3 {
  position: relative;
  left: 420px;
  background-color: purple !important;
  color: #fff;
  padding: 10px 80px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}



/* Responsive styles */

@media (max-width: 767px) {
    .addboxx {
        display: flex;
        flex-direction: column;
    }
    .done-button {
      position: static;
      margin-top: 20px;
      width: 100%;
    }
}