/* src/Admin.css */

.Addcontt {
    margin-left: 30px;
}

.App-header {
    /* margin-left: 30px; */
    background: none;
}

.heading-purple {
    margin-top: 20px;
    margin-left: 40px;
    color: purple;
    font-size: 3rem;
    font-weight: 700!important;
}


/* Done button styles */

.done-button {
    position: relative;
    left: 720px;
    background-color: purple !important;
    color: #fff !important;
    padding: 10px 80px !important;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 20px;
    margin-bottom: 10px;
}

.done-button:hover {
    background-color: #6a0dad !important;
    cursor: pointer;
}

.inputfieldd {
    padding: 15px;
}

.addboxx {
    margin-left: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: max-content;
}

.cont1 {
    text-align: left;
}

.cont1 label,
.cont2 label {
    font-size: 18px;
    font-weight: 600;
}

.cont2 {
    text-align: left;
    padding-left: 80px;
}

.addinputt {
    padding: 15px;
}

.form-control2 {
    width: 220px !important;
    height: 30px !important;
    border-radius: 5px !important;
}

.form-control1 {
    width: 220px;
    border-radius: 5px;
}

.form-check-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}


/* Responsive styles */

@media (max-width: 767px) {
    .addboxx {
        display: flex;
        flex-direction: column;
    }
    .done-button {
        position: static;
        margin-top: 20px;
        width: 100%;
    }
}