src/Admin.css

.Addcontt {
    margin-left: 30px;
}

.App-header {
    margin-left: 30px;
}



/* Done button styles */

.done-button {
    position: relative;
    left: 600px;
    width: 100px;
    background-color: purple !important;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.done-buttontt3{
    position: relative;
    left: 620px;
    width: 100px;
    background-color: rgb(0, 11, 112) !important;
    color: #fff !important;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.done-buttonn1 {
    margin-left: 170px;
    position: relative;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.btn-danger {
    background-color: #8f0e0e !important;
    color: #fff;
    padding: 10px 80px !important;
    border: none;
}

.btn-danger:hover {
    background-color: #d41225 !important;
}

.inputfieldd {
    padding: 15px;
}

.addboxx {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

.cont1 {
    text-align: left;
}

.cont2 {
    text-align: left;
    padding-left: 80px;
}

.addinputt {
    padding: 15px;
}

.form-control {
    width: 220px;
    height: 20px;
    border-radius: 5px;
}

.form-control1 {
    width: 220px;
    border-radius: 5px;
}

.form-check-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.Adddelbutt {
    margin-left: 10px;
}

.done-button3 {
    position: relative;
    left: 420px;
    background-color: purple !important;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.done-button5 {
    position: relative;
    left: 600px;
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.SearchBox4 {
    border-radius: 5px;
    background: #ffffff;
    width: 280px;
}

.SearchBox4::placeholder {
    opacity: 0.5;
}

.done-button4 {
    background-color: rgb(13, 0, 128) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    width: 120px;
    margin-top: -3px;
}

.form-control1::placeholder {
    opacity: 0.4;
}

.serhett {
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 50px auto;
    margin-top: 40px;
    color: purple;
    font-weight: 700!important;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    max-width: 700px;
    position: relative;
}

.serhett:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
}

.serhett:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
}

.addboxx{
    margin: 50px auto;
}

.searrrchbox{
    width: 800px;
}

.serachhett{
    font-size: 20px;
    margin-top: 5px;
}
.patientlisttable{
    margin-top: -50px;
}
.table-container {
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* width: 100% !important; */
    max-height: calc(100vh - 240px);
    border-radius: 9px;
    border: .75px solid rgba(63, 68, 81, .12156862745098039);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
/* Center the calendar */
.calenderrr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: -80px;
   margin-bottom: 100px;
  }
  
  /* Style the calendar container */
  .fc {
    padding: 20px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
 .fc-event {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    
  }
  .fc.fc-time {
    font-style: italic;
  }
  
  .fc-header-toolbar {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }

  .fc .fc-button-primary {
    background-color:  #010024;
    border-color:  #ffffff;
    color: white;
    margin: 2px;
    border-radius: 5px;
    text-transform: uppercase;
}
 
  
  /* Style the calendar footer (list view) */
  .fc.fc-list {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .teaaaaam{
    margin-bottom: 100px;
  }
  