.cardhome {
    background-color: #fff;
    padding: 20px;
    border: none; /* Set border to none to remove the border line */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
  }
