.navbarh {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar-brand1 {
    margin-left: 60px;
}

.navbar-collapse1 {
    justify-content: right !important;
    margin-right: 100px;
}

.navbar-nav li a {
    margin-right: 15px !important;
}