
.cardcontainer1 {
    margin-top: 30px;
    display: grid;
    padding: 30px 0px 26px;
    grid-gap: 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cardWrap1 {
    height: 200px !important;
    border-radius: 10px;
    background-color: #ffffff !important;
    cursor: pointer;
    border: 3px solid rgba(249, 249, 249, 0.1) !important;
    box-shadow: rgba(194, 192, 192, 0.69) 0px 26px 30px -10px, rgba(194, 191, 191, 0.73) 0px 16px 10px -10px !important;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)0s !important;
    justify-content: center;
    align-items: center;
}

.cardWrap2 {
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff !important;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: rgba(194, 192, 192, 0.69) 0px 26px 30px -10px, rgba(194, 191, 191, 0.73) 0px 16px 10px -10px !important;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)0s !important;
}

.cardWrap1 h4 {
    font-size: 20px;
    font-weight: 700;
}

.iconn {
    width: 320px;
    margin-bottom: 30px;
    margin-top: 10px;

}

.cardWrap1:hover {
    box-shadow: rgba(39, 39, 39, 0.8) 0px 40px 58px -16px, rgba(255, 255, 255, 0.72) 0px 30px 22px -10px !important;
    transform: scale(1.05);
    border-color: rgba(0, 0, 0, 0.8) !important;
}

.cardWrap2:hover {
    box-shadow: rgba(255, 255, 255, 0.8) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px !important;
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.8) !important;
}

.cardWrap2 img{
    height: 250px;
}

.contgap1 {
    margin-bottom: 50px;
}

.cardcontainer2 {
    margin-top: 30px;
    display: grid;
    padding: 30px 0px 26px;
    grid-gap: 25px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.regbutt {
    margin: 10px auto;
    width: 90%;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: #08001d;
}

.regbutt:hover {
    background-color: #08001d;
}

@media (max-width: 768px) {
    .cardcontainer1 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .cardcontainer2 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .navbar-collapse1 {
        justify-content: center !important;
    }

    .navbar-nav {
        justify-content: center;
        align-items: center;
    }

    .navbar-nav li a {
        margin-right: 0 !important;
    }

    .navbar-toggler {
        font-size: 30px;
    }

    .close-icon {
        font-size: 30px;
    }

    .navicoon {
        flex-direction: column;
        align-items: center;
    }

    .lettnav {
        margin-top: 0 !important;
    }

    .navbar-brand1 img {
        margin-left: 150px;

    }
    .cardconthhav {
      margin-top: 200px !important;
      margin-left: -330px !important;
    }

    .cardcontenthome img{
        margin-left: 110px !important;
        height: 250px !important;
        width: 250px !important;
        margin-top: -30px !important;
    }
    .aboutushome {
        display: none;
    }
    /* .abotuscontentalign{
        margin-top: -700px !important;
    } */
    .serhed:before {
        display: none;
    }
    
    .serhed:after {
        display: none;
    }
    .indicatdoct h4{
        display: none;
    }
    .indicatmailicon{
      display: none !important;
    }
    .servicefocushome{
        display: flex !important;
        flex-direction: column !important;
        gap: 30px !important;
    }
   
}

.forrminputt {
    width: 100% !important;
    height: 36px !important;
}

.forrminputt::placeholder {
    opacity: 0.3;
}

.navbarh {
    background-color: white;
    position: fixed !important;
    z-index: 1000;
    width: 100%;
}

.navbar-brand1 {
    margin-left: 60px;
}

.navbar-collapse1 {
    justify-content: right !important;
    margin-right: 10px;
}

.navbar-nav li a {
    margin-right: 15px !important;
}

.teamele .img {
    width: 7rem;
    height: 7rem;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin: 10px;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)0s !important;
}

.teamele {
    justify-content: center;
}

.title {
    margin-bottom: 26px;
}

.img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.cardhome {
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
}

.navicoon {
    display: flex;
    flex-direction: row;
    margin-top: -10px !important;
}

.lettnav {
    margin-top: 55px !important;
    font-weight: 600;
}

.navicoon .naviccon2 {
    margin-top: -8px;
}

.loginiccon {
    height: 30px;
    width: 30px;
}

.loginiccontt {
    height: 30px;
    width: 30px;
    margin-top: -10px;
}

.sociccon {
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.sosicon:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1;
}

.carousel-control-iconnn {
    height: 50px;
    width: 50px;
    color: black;
}

.cardcontenthome {
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 25px auto;
    display: flex;
    flex-direction: row;
}

.cardcontenthome img {
    height: 180px;
    width: 200px;
}

.availabiltyiconpos {
    margin-left: auto;
}

.availabiltyicon {
    margin-top: -5px !important;
}

.contacticonnhome:hover{
    transform: scale(1.1);
}

.cardconthhav {
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
}

.cardconthhav h2 {
    font-weight: 600;
    font-size: 50px;
}

.cardconthhav h3{
    font-weight: 500;
    font-size: 30px;
    color: #aca4a4;
}

.cardconthhav h4{
    font-weight: 300;
    font-size: 20px;
    color: #ff7b00;
}

.aboutushome {
    margin-top: 70px !important;
}

.aboutushome img{
    margin-top: 90px;
    height: 400px;
}

.indicatdoct{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.indicatdoct h4{
    font-size: 20px;
    margin-top: 8px;
    color: #8b8686;
}
.indicatmailicon{
    margin-top: 100px;
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.phonemodalicon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.phonemodalicon p{
    font-size: 30px;
    margin-top: 12px;
    font-weight: 600;
    color: #8b8282;
}

.serheddd{
    text-transform: uppercase;
    font-family: sans-serif;
    color: #020d77;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}
.serhedddsub{
    font-family: sans-serif;
    color: #6d6d74;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.serhedddsub1{
    font-family: sans-serif;
    color: #6d6d74;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.focusimage {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 4px solid rgb(177, 172, 172);
}
.servicefocushome{
    display: flex;
    flex-direction: row;
    gap: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 50px
}

.servicefocushomesub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.servicefocushomesub p{
    font-size: 12px;
    text-align: justify;
    max-width: 300px;
    color: #83838a;
}

.abotuscontainer{
    display: flex;
    gap: 80px;
}
.abotuscontentalign{
    margin-top: 50px !important;
}
