.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}


.wave3 {
    position: fixed;
    bottom: 47%;
    left: 43%;
    height: 100px;
    width: 200px;
    z-index: -1;
}

.neeeeeeee {
    background-image: url("../assets/medback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    width: 100%;
    /* Set the width to 100% */
}


.imggh {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containerthlogin {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.imggh img {
    width: 500px;
}

.imgghhv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 700px;
    margin-top: 100px;
}

.imgghhv img {
    width: 600px;
}

.loginlogoo {
    height: 50px;
    width: 100px;
    position: fixed;
    margin-left: 20px;
    margin-top: 5px;
}

.loginselect {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: fixed;
    right: 10px;
    margin-top: 20px;
    z-index: 200;
}

.categoryselectorr {
    margin-top: 30px;
}

.loginncardform {
    margin-top: 120px;
    margin-left: -200px;
}

.loginncardform h1{
    margin-top: -50px;
    font-weight: 600;
    color: rgb(1, 1, 105);
}

.loginncardpos {
    width: 400px;
}

.remmberme {
    font-size: 16px;
    font-weight: 600;
    color: darkblue;
    margin-left: -180px;
}


.downarrroww {
    position: relative;
    left: 110%;
    top: 90%;
}

.downhomee {
    position: relative;
    top: 90%;
    left: 90%;
}

.dahover {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


.downhomeicc:hover{
    transform: scale(1.1);
}

.logoaddinglogin{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.logoaddinglogin h3{
    color: rgb(0, 0, 70);
    font-weight: 600;
    font-size: 30px;
}

.loginiconlogin{
    color: darkblue;
}

.loaderhomee{
    position: relative;
    left: 33%;
    margin-top: 100px;
    z-index: 3000;
}

.logomsg{
    font-size: 18px;
    color: rgb(10, 153, 10);
}
