.serhett9 {
    text-transform: uppercase;
    font-family: sans-serif;
    margin-top: -0px;
    color: #000536;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    max-width: 500px;
    position: relative;
}

.serhett9:before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
}

.serhett9:after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
}



/* styles.css */

.BloodDonate container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 0 auto;
}

.BloodDonate h1 {
  color: purple;
}

.BloodDonate label {
  display: block;
  margin-bottom: 5px;
  color: purple;
}

.BloodDonate input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.BloodDonate button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.BloodDonate button:hover {
  background-color: blue;
}

.BloodDonate strong {
  color: blue;
}


/* styles.css */

.Vaccination container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 0 auto;
}

.Vaccination h1 {
  color: purple;
}

.Vaccination label {
  display: block;
  margin-bottom: 5px;
  color: purple;
}

.Vaccination input[type="text"],
.Vaccination .select1 {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Vaccination .button1 {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.Vaccination .button1:hover {
  background-color: blue;
}

.Vaccination strong {
  color: blue;
}

.eventresdate{
  align-items: center;
  text-align: right !important;
  color: #c2baba;
  
}
.modaltitleeeevent {
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  color: #000425 !important;
}

.hedeventdet{
  font-size: 16px;
  color: #21c700;
}

.eventaddbutt {
  width: 250px !important;
  margin-top: 30px !important;
  position: relative;
  left: 27%;
}

.eventlisttable{
  margin-top: -30px;
}

.vaccountflex{
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.vaccountflex button{
  font-size: 20px;
  font-size: 600;
}


.tablecontainerttclub {
  overflow-y: scroll;
  /* overflow-x: hidden; */
  /* width: 100% !important; */
  max-height: calc(100vh - 310px);
  border-radius: 9px;
  border: .75px solid rgba(63, 68, 81, .12156862745098039);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

